extends layout

block header
    include partials/_header

block content

    if author.blocked
        h1 (Blocked)

    if currentUser && currentUser.is_admin
        author(author-id=author._id edit="true" remove="true")
    else
        author(author-id=author._id)

    feed(author-id=author._id hide-fields="{author:true}" all-allowed="true")

    if currentUser && currentUser.is_admin
        if !author.blocked
            button(popup-trigger="block" author-id=author._id) Block
        else
            button(popup-trigger="unblock" author-id=author._id) Unblock
    popup-content(initial="block,unblock")
block footer
    include partials/_footer