include ../vars/common

//Input mixin
mixin input(label)
    label
        div= label
        input&attributes(attributes)

//Textarea mixin
mixin textarea(label)
    label
        div= label
        textarea&attributes(attributes)

//Radios mixin
mixin radios(block_name, block_inputs)
    div= block_name
    div
        each inputs, name in block_inputs
            each label,value in inputs
                label
                    span= label
                    input(type="radio" name=name ,value = value)&attributes(attributes)

//Select mixin
mixin select(label, options)
    div= label
    div
        each inputs, name in options
            select(name = name)&attributes(attributes)
                each label,value in inputs
                    option(value = value)
                        | #{label}
                option(value = "other")
                    | Other