include ../vars/common

//Input mixin
mixin input(label)
    .form__item
        label.form__label
            div.form__title {{'#{label}' | translate}}
            input.form__input&attributes(attributes)

//Angular Input mixin
mixin ng-input(label)
    .form__item
        label.form__label
            div.form__title {{#{label} | translate}}
            input.form__input&attributes(attributes)

//Button mixin
mixin button(label)
    .form__item.form__item--btn
        .form__btn-wrap
            button.form__btn&attributes(attributes)
                span.form__btn-icon
                span.form__btn-title {{'#{label}' | translate}}
            .form__progress-bar

//Angular Button mixin
mixin ng-button(label)
    .form__item.form__item--btn
        .form__btn-wrap
            button.form__btn&attributes(attributes)
                span.form__btn-icon
                span.form__btn-title {{#{label} | translate}}
            .form__progress-bar

//Angular Textarea mixin
mixin ng-textarea(label)
    .form__item
        label.form__label
            div.form__title {{#{label} | translate}}
            textarea.form__textarea&attributes(attributes)

//Textarea mixin
mixin textarea(label)
    .form__item
        label.form__label
            div.form__title {{'#{label}' | translate}}
            textarea.form__textarea&attributes(attributes)

//Radios mixin
mixin radios(block_title, block_inputs)
    .form__item
        div.form__title {{'#{block_title}' | translate}}
        div.form__radio-wrap
            each inputs, name in block_inputs
                    each label,value in inputs
                        input.form__radio(id=value || "empty" type="radio" name=name ,value = value)&attributes(attributes)
                        label(for=value || "empty").form__label.form__label--radio
                            div.form__radio-btn
                            span {{'#{label}' | translate}}

//Checkboxes mixin
mixin checkboxes(block_title, block_inputs, hide_title)
    .form__item
        if !hide_title
            div.form__title {{'#{block_title}' | translate}}
        div.form__radio-wrap
            each inputs, name in block_inputs
                    each label,value in inputs
                        input.form__radio(id=value type="checkbox" name=name ,value = "{{'#{value}' | translate}}")&attributes(attributes)
                        label(for=value).form__label.form__label--radio
                            div.form__radio-btn
                            span {{'#{label}' | translate}}

//Select mixin
mixin select(label, options, without_other)
    .form__item
        div.form__title {{'#{label}' | translate}}
        div
            each inputs, name in options
                    select.form__select(name = name)&attributes(attributes)
                        each label,value in inputs
                            option(value = value)
                                | {{'#{label}' | translate}}
                        if !without_other
                            option(value = "other")
                                | {{'Other' | translate}}